---
layout: default.hbs
subject: Marketing Newsletter
---
<!-- NEWSLETTER HEADER -->
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="padding-top: 10px;">
              <table class="twelve columns">
                <tr>
                  <td class="six sub-columns" style="text-align: left !important;">
                    <img width="124" style="width: 124px !important; vertical-align: middle;" src="/src/img/trackmaven@2x.png">
                  </td>
                  <td id="pageTitle" class="six sub-columns last mktEditable" style="text-align: right !important;">
                    <span class="template-label">NEWSLETTER</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER HEADER END -->

<!-- NEWSLETTER BODY -->
<table class="row main">
  <tr><td height="50"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container main-body top-round">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td id="featuredArticle" class="twelve sub-columns mktEditable" style="padding: 10px 15px">
                    <span class="eyebrow green">FEATURED ARTICLE</span>
                    <a class="featured-block" href="#">
                      <img src="/src/img/community.png" width="570" class="featured-image" />
                      <span class="article-title-large">How Ellen Degeneres Hijacked Halloween With Evergreen Content Marketing</span>
                    </a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>

        <table class="container main-body">
          <tr>
            <td class="wrapper">
              <table class="six columns">
                <tr>
                  <td id="firstArticle" class="mktEditable" style="padding: 0 15px">
                    <span class="eyebrow blue">#FRIDAYFUNFACT</span>
                    <a class="small-article-block" href="#">
                      <img src="/src/img/friday.png" width="290" class="article-image" />
                      <span class="article-title-small">Facebook Introduces iOS App Rooms, An Anonymous Forum Platform</span>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
            <td class="wrapper last">
              <table class="six columns">
                <tr>
                  <td id="secondArticle" class="mktEditable" style="padding: 0 15px">
                    <span class="eyebrow blue">TRACKMAVEN SUMMIT</span>
                    <a class="small-article-block" href="#">
                      <img src="/src/img/summit.png" width="290" class="article-image" />
                      <span class="article-title-small">Recap of the awesome TrackMaven Summit in NYC</span>
                    </a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="7"></td></tr>
        </table>

        <table class="container main-body">
          <tr>
            <td class="wrapper">
              <table class="six columns">
                <tr>
                  <td id="thirdArticle" class="mktEditable" style="padding: 0 15px">
                    <span class="eyebrow blue">#FRIDAYFUNFACT</span>
                    <a class="small-article-block" href="#">
                      <img src="/src/img/friday.png" width="290" class="article-image" />
                      <span class="article-title-small">Facebook Introduces iOS App Rooms, An Anonymous Forum Platform</span>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
            <td class="wrapper last">
              <table class="six columns">
                <tr>
                  <td id="fourthArticle" class="mktEditable" style="padding: 0 15px">
                    <span class="eyebrow blue">TRACKMAVEN SUMMIT</span>
                    <a class="small-article-block" href="#">
                      <img src="/src/img/summit.png" width="290" class="article-image" />
                      <span class="article-title-small">Recap of the awesome TrackMaven Summit in NYC</span>
                    </a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="7"></td></tr>
        </table>

        <table class="container">
          <tr>
            <td class="wrapper last" style="text-align: center; padding-top: 0;">
              <center><img class="center" width="600" src="/src/img/backgroundshadow.png"></center>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER BODY END -->

<!-- NEWSLETTER FOOTER -->
<table class="row footer">
  <tr><td height="15"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
            <tbody><tr>
              <td class="wrapper last">
                <table id="footer" class="twelve columns">
                  <tbody><tr>
                    <td class="mktEditable footer">
                      <p>© 2014 TrackMaven, LLC - All Rights Reserved</p>
                      <p>Made with <img src="/src/img/heart@2x.png" alt="heart" width="13" height="14"> in Washington, D.C.</p>
                    </td>
                  </tr>
                  <tr><td height="10"></td></tr>
                  <tr>
                    <td class="mktEditable unsubscribe">
                      <p>Don't want these emails anymore? Can we convice you with a <a href="#">cute corgi</a>?<br>No? You can <a href="#">unsubscribe here</a></p>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER FOOTER END -->
