---
layout: default.hbs
---
<!-- NEWSLETTER HEADER -->
<table class="row header">
  <tr>
    <td class="center" align="center" style="padding: 10px 0 !important;">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="padding-top: 10px;">
              <table class="twelve columns">
                <tr>
                  <td class="seven sub-columns" style="text-align: left !important;">
                    <a href="http://trackmaven.com"><img width="110" style="width: 110px !important; vertical-align: middle; margin-right: 10px; float: left !important" src="/src/img/trackmaven@2x.png"></a>
                    <span id="templateType" class="template-label mktEditable">NEWSLETTER</span>
                  </td>
                  <td class="five sub-columns" style="text-align: right !important;">
                    <span id="date" class="template-label mobile mktEditable">NOV. 19TH, 2014</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER HEADER END -->

<!-- NEWSLETTER BODY -->
<table class="row featured white-pure" bgcolor="#FFFFFF" style="background: #FFFFFF">
  <tr><td height="30"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td id="featuredArticle" class="twelve sub-columns mktEditable" style="text-align: center !important">
                    <img src="/src/img/youtube.png" width="580" class="featured-image-large" />
                    <h1 class="main-title" style="text-align: center">Video: A Surprisingly Good Lead Generation Channel…For B2B Marketers!</h1>
                    <p class="description" style="text-align: center; margin-bottom: 35px;">Which content type is both the most widely used and highest source of lead volume among B2B marketers? Findings from the annual B2B Demand Generation Benchmark report from Software Advice reveal surprising trends and best practices for marketers looking to maximize their demand generation efforts.</p>
                    <a href="http://bit.ly/14MhHdf" class="button orange">Read More</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="40"></td></tr>
        </table>

      </center>
    </td>
  </tr>
</table>

<table class="row secondary gray-bold">
  <tr><td height="45"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table id="itemThree" class="container mktEditable">
          <tr>
            <td class="wrapper" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important; text-align: left;">
                    <img class="mobile-center" src="http://placecorgi.com/240/200" width="240" height="180" style="width: 240px !important; height: 180px; vertical-align: middle; display: block;" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important;">
                    <h2 class="sub-title white">Social Selling — The What, Why, And How For Marketers</h2>
                    <p class="sub-description gray-bold stagger">In her #TMSummit presentation, social selling expert Jill Rowley outlined the not-so-obvious fundamentals for marketers to enable sales teams to be successful with social selling.</p>
                    <a href="http://bit.ly/1vpQCYS" class="text-blue">Read more...</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="30"></td></tr>
        </table>

        <table id="itemFour" class="container mktEditable">
          <tr>
            <td class="wrapper" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important; text-align: left">
                    <img class="mobile-center" src="http://placecorgi.com/240/200" width="240" height="180" style="width: 240px !important; height: 180px; vertical-align: middle; display: block;" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important;">
                    <h2 class="sub-title white">Which Airline Is Soaring Above The Competition With Killer Content?</h2>
                    <p class="sub-description gray-bold stagger">The airline industry is notoriously competitive. See which airline has a greater share of press mentions, retweets and more in our share of interaction analysis.</p>
                    <a href="http://bit.ly/1p1unpn" class="text-blue">Read more...</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="30"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="10"></td></tr>
</table>

<table class="row secondary tan">
  <tr><td height="35"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table id="calloutFooter" class="twelve columns mktEditable">
                <tr>
                  <td valign="center" style="vertical-align: middle !important; text-align: center !important;">
                    <span class="text-gray-bold mb-10 bolded">GET STARTED USING TRACKMAVEN WITH A COMPETITIVE BENCHMARK</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="20"></td></tr>
        </table>
        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table id="calloutFooterButton" class="six columns mktEditable">
                <tr>
                  <td valign="center" style="vertical-align: middle !important; text-align: center !important">
                    <a href="#" class="button orange small">I'm Ready Now</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="25"></td></tr>
</table>
<!-- NEWSLETTER BODY END -->

<!-- NEWSLETTER FOOTER -->
<table class="row footer white-pampas">
  <tr><td height="15"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
            <tbody><tr>
              <td class="wrapper last">
                <table id="footer" class="twelve columns">
                  <tbody><tr>
                    <td class="mktEditable footer">
                      <p>© 2014 TrackMaven, LLC - All Rights Reserved</p>
                      <p>Made with <img src="/src/img/heart@2x.png" alt="heart" width="13" height="14" style="width: 13px !important"> in Washington, D.C.</p>
                    </td>
                  </tr>
                  <tr><td height="10"></td></tr>
                  <tr>
                    <td class="mktEditable unsubscribe">
                      <p>Don't want these emails anymore? Can we convice you with a <a href="#">cute corgi</a>?</p>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER FOOTER END -->
