---
layout: default.hbs
subject: Marketing Newsletter
---
<!-- NEWSLETTER HEADER -->
<table class="row header">
  <tr>
    <td class="center" align="center" style="padding: 10px 0 !important;">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="padding-top: 10px;">
              <table class="twelve columns">
                <tr>
                  <td class="eight sub-columns" style="text-align: left !important;">
                    <a href="http://trackmaven.com"><img width="124" style="width: 124px !important; vertical-align: middle; margin-right: 10px; float: left !important" src="/src/img/trackmaven@2x.png"></a>
                    <span class="template-label">NEWSLETTER</span>
                  </td>
                  <td class="four sub-columns" style="text-align: right !important;">
                    <span class="template-label mobile">NOV. 10TH, 2014</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER HEADER END -->

<!-- NEWSLETTER BODY -->
<table class="row featured">
  <tr><td height="30"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td id="featuredArticle" class="twelve sub-columns mktEditable" style="text-align: center !important">
                    <img src="/src/img/community.png" width="570" class="featured-image-large" />
                    <h1 class="main-title" style="text-align: center">How Ellen Degeneres Hijacked Halloween With Evergreen Content Marketing</h1>
                    <p class="description" style="text-align: center; margin-bottom: 35px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sapien nulla, sit amet fringilla ligula scelerisque a.</p>
                    <a href="#" class="button orange">This is a call to action</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="40"></td></tr>
        </table>

      </center>
    </td>
  </tr>
</table>

<table class="row secondary gray-bold">
  <tr><td height="45"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table id="itemThree" class="container mktEditable">
          <tr>
            <td class="wrapper" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important; text-align: left;">
                    <img class="mobile-center" src="/src/img/Content-Twitter.png" width="240" style="width: 240px !important; vertical-align: middle; display: block;" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important;">
                    <h2 class="sub-title white">Why you can't live without data</h2>
                    <p class="sub-description gray-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sapien nulla, sit amet fringilla ligula scelerisque a.</p>
                    <a href="#" class="text-blue">Learn why this is important for you</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="30"></td></tr>
        </table>

        <table id="itemFour" class="container mktEditable">
          <tr>
            <td class="wrapper" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important; text-align: left">
                    <img class="mobile-center" src="/src/img/Content-Twitter.png" width="240" style="width: 240px !important; vertical-align: middle; display: block;" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center" style="vertical-align: middle !important;">
                    <h2 class="sub-title white">Why you can't live without data</h2>
                    <p class="sub-description gray-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sapien nulla, sit amet fringilla ligula scelerisque a.</p>
                    <a href="#" class="text-blue">Learn why this is important for you</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="30"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="10"></td></tr>
</table>

<table class="row secondary purple">
  <tr><td height="45"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table id="itemOne" class="container mktEditable">
          <tr>
            <td class="wrapper" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" style="vertical-align: middle !important">
                    <img class="center" src="/src/img/book.png" width="240" style="width: 240px !important; vertical-align: middle" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last">
              <table class="six columns">
                <tr>
                  <td valign="center" class="mobile-center">
                    <h2 class="sub-title">Why you can't live without data</h2>
                    <p class="sub-description purple">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sapien nulla, sit amet fringilla ligula scelerisque a.</p>
                    <a class="button black small">Learn why this is important for you</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="40"></td></tr>
</table>

<table class="row secondary maven-orange">
  <tr><td height="45"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table id="itemTwo" class="container mktEditable">
          <tr>
            <td class="wrapper" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" style="vertical-align: middle !important; text-align: center !important">
                    <img class="center" src="/src/img/join-webinar-text.png" width="180" style="width: 180px !important; vertical-align: middle; display: block; margin-bottom: 35px; float: none !important" />
                    <a style="color: white; display: block" href="#">Find out when our next one is &raquo;</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" style="vertical-align: middle !important; text-align: center !important">
                  <img class="center" src="/src/img/webinar-computer.png" width="250" style="width: 250px !important; vertical-align: middle; display: block; margin-bottom: 30px; float: none !important" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="10"></td></tr>
</table>

<table class="row secondary tan">
  <tr><td height="35"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table id="itemTwo" class="container mktEditable">
          <tr>
            <td class="wrapper" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" style="vertical-align: middle !important; text-align: center !important">
                    <span class="text-gray-bold mb-10 bolded">GET STARTED WITH A COMPETITIVE BENCHMARK</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" style="vertical-align: middle !important; text-align: center !important">
                    <a href="#" class="button orange">I'm Ready</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="25"></td></tr>
</table>
<!-- NEWSLETTER BODY END -->

<!-- NEWSLETTER FOOTER -->
<table class="row footer white-pampas">
  <tr><td height="15"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
            <tbody><tr>
              <td class="wrapper last">
                <table id="footer" class="twelve columns">
                  <tbody><tr>
                    <td class="mktEditable footer">
                      <p>© 2014 TrackMaven, LLC - All Rights Reserved</p>
                      <p>Made with <img src="/src/img/heart@2x.png" alt="heart" width="13" height="14" style="width: 13px !important"> in Washington, D.C.</p>
                    </td>
                  </tr>
                  <tr><td height="10"></td></tr>
                  <tr>
                    <td class="mktEditable unsubscribe">
                      <p>Don't want these emails anymore? Can we convice you with a <a href="#">cute corgi</a>?</p>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER FOOTER END -->
