---
layout: default.hbs
subject: Marketing Newsletter
---
<!-- NEWSLETTER HEADER -->
<table class="row header">
  <tr>
    <td class="center" align="center" style="padding: 10px 0 !important;">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="padding-top: 10px;">
              <table class="twelve columns">
                <tr>
                  <td class="seven sub-columns" style="text-align: left !important;">
                    <a href="http://trackmaven.com"><img width="110" style="width: 110px !important; vertical-align: middle; margin-right: 10px;" src="/src/img/trackmaven@2x.png"></a>
                    <span id="templateType" class="template-label mktEditable">NEWSLETTER</span>
                  </td>
                  <td class="five sub-columns" style="text-align: right !important;">
                    <span id="date" class="template-label mobile mktEditable">DEC. 5TH, 2014</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER HEADER END -->

<!-- NEWSLETTER BODY -->
<table class="row intro-callout gray-gallery">
  <tr><td height="15"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td id="introCallout" class="mktEditable" style="text-align: left !important">
                    <h3 class="callout-title" style="text-align: left">Welcome to the TrackMaven Newsletter</h3>
                    <p class="description" style="text-align: left; margin-bottom: 12px;">This is some brief text explaining what this is and how you are receiving it (customer, prospect, etc.). Here is how you can <a href="#">opt-out</a> in the future. Thank you.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

<!-- FEATURED ITEM -->
<table class="row featured white-cloud">
  <tr><td height="40"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td id="featuredArticle" class="mktEditable" style="text-align: center !important">
                    <img src="/src/img/youtube.png" width="580" class="featured-image-large" />
                    <h1 class="main-title" style="text-align: center">Video: A Surprisingly Good Lead Generation Channel…For B2B Marketers!</h1>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td class="wrapper">
              <table class="eight columns">
                <tr>
                  <td id="featuredArticleCopy" class="mktEditable" style="text-align: center !important">
                    <p class="description mobile-center" style="text-align: left; margin: 0 !important">Which content type is both the most widely used and highest source of lead volume among B2B marketers? Findings from the annual B2B Demand Generation Benchmark report from Software Advice reveal surprising trends and best practices for marketers looking to maximize their demand generation efforts.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
            <td class="wrapper last mobile-center" style="vertical-align: middle !important">
              <table class="four columns">
                <tr>
                  <td id="featuredArticleCTA" class="four sub-columns mktEditbale mobile-center" style="text-align: center !important">
                    <a href="#" class="button orange medium">Watch the video</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="40"></td></tr>
        </table>

      </center>
    </td>
  </tr>
</table>

<table class="row secondary gray-bold">
  <tr><td height="45"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="twelve columns">
                <tr>
                  <td id=="itemOneImage" valign="center" class="mobile-center mktEditable" style="vertical-align: middle !important; text-align: left;">
                    <img class="mobile-center" alt="Instagram" src="http://pages.trackmaven.com/rs/trackmaven/images/Instagram_12.5.14.png" width="580" style="width: 580px !important; vertical-align: middle; display: block;" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="twelve columns">
                <tr>
                  <td id="itemOne" valign="center" class="mobile-center mktEditable" style="vertical-align: middle !important; text-align: center !important">
                    <h2 class="sub-title white" style="text-align: center !important">Social Selling — The What, Why, And How For Marketers</h2>
                    <p class="sub-description gray-bold" style="text-align: center !important; color: #959595; font-family: 'Arial', sans-serif; font-weight: normal; line-height: 1.3; font-size: 14px; background: #555555; margin: 0 0 35px; padding: 0;" align="center !important">Forrester Research looked at the ratio of interactions to total followers for 2,500 brand posts across seven major social networks. Instagram blew other networks out of the water, with 60 times more engagement than Facebook and 140 times more engagement than Twitter! <a style="color: #97cad9 !important; text-decoration: none;" title="Instagram Tips" href="http://trackmaven.com/blog/2014/12/little-known-instagram-tips-to-boost-engagement/" target="_blank">Learn the tips for engaging your Instagram audience!</a></p>
                    <a href="http://trackmaven.com/blog/2014/12/little-known-instagram-tips-to-boost-engagement/" class="button blue small">Watch the session</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="30"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="10"></td></tr>
</table>

<table class="row secondary white-cloud">
  <tr><td height="45"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="twelve columns">
                <tr>
                  <td id="itemTwoImage" valign="center" class="mobile-center mktEditable" style="vertical-align: middle !important; text-align: left">
                    <img class="mobile-center" alt="Social Sharing" src="http://pages.trackmaven.com/rs/trackmaven/images/Social-Sharing_12.5.14.png" width="580" style="width: 580px !important; vertical-align: middle; display: block;" />
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="twelve columns">
                <tr>
                  <td id="itemTwo" valign="center" class="mobile-center mktEditable" style="vertical-align: middle !important; text-align: center !important">
                    <h2 class="sub-title text-gray-bold" style="text-align: center !important">You Are Marketing To Hummingbirds. So What Are You Going To Do About It?</h2>
                    <p class="sub-description" style="text-align: center !important">In his opening keynote, TrackMaven CEO Allen Gannett explained how the hummingbird effect leaves brands vulnerable to competitors, and called for marketers to rethink their response to channel explosion.</p>
                    <a href="http://trackmaven.com/blog/2014/10/trackmaven-summit-keynote-allen-gannett/" class="button black small">Watch the keynote</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="40"></td></tr>
</table>

<table class="row secondary tan">
  <tr><td height="35"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table class="twelve columns">
                <tr>
                  <td id="calloutFooter" valign="center" style="vertical-align: middle !important; text-align: center !important;" class="mktEditable">
                    <span class="text-gray-bold mb-10 bolded">GET STARTED USING TRACKMAVEN WITH A COMPETITIVE BENCHMARK</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>
        <table class="container">
          <tr>
            <td id="calloutFooterButton" class="wrapper last mktEditable" style="vertical-align: middle !important">
              <table class="six columns">
                <tr>
                  <td valign="center" style="vertical-align: middle !important; text-align: center !important">
                    <a href="#" class="button orange small">I'm Ready</a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td height="10"></td></tr>
        </table>

      </center>
    </td>
  </tr>
  <tr><td height="25"></td></tr>
</table>
<!-- NEWSLETTER BODY END -->

<!-- NEWSLETTER FOOTER -->
<table class="row gray-bold">
  <tr><td height="15"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="vertical-align: middle !important">
              <table id="footer" class="twelve columns mktEditable">
                <tr>
                  <td class="footer mobile-center">
                    <p>© 2014 TrackMaven, LLC - All Rights Reserved</p>
                    <p>Made with <img src="/src/img/heart@2x.png" alt="heart" width="13" height="14" style="width: 13px !important"> in Washington, D.C.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
                <tr><td height="10"></td></tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- NEWSLETTER FOOTER END -->
