---
layout: default.hbs
subject: Marketing Newsletter
---
<!-- EMAIL HEADER -->
<table class="row header">
  <!-- SEPARATOR -->
  <tr><td height="50"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="seven sub-columns" style="text-align: left !important;">
                    <a href="http://google.com"><img alt="Logo" width="200" style="width: 200px !important; vertical-align: middle; margin-right: 5px; margin-top: 1px; display: block;" src="http://placehold.it/200x50/"></a>
                  </td>
                  <td class="five sub-columns" style="text-align: right !important; padding-top: 17px;">
                    <span id="date" class="text-small">OCTOBER 6th, 2015</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- EMAIL HEADER END -->

<!-- EMAIL MASTHEAD -->
<table class="row masthead">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <!-- SEPARATOR -->
          <tr><td height="10"></td></tr>
          <tr>
            <td class="wrapper last masthead">
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <img src="http://placehold.it/600x250" width="600" height="250" alt="Main Image" />
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- SEPARATOR -->
          <tr><td height="5"></td></tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- EMAIL MASTHEAD END -->

<!-- EMAIL MAIN CONTENT -->
<table class="row content">
  <!-- SEPARATOR -->
  <tr><td height="10"></td></tr>
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="main-content">
                    <h1>This is a header</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco <a class="link" href="http://google.com"><span class="link">laboris</span></a> nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
  <!-- SEPARATOR -->
  <tr><td height="10"></td></tr>
</table>

<table class="row content">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="main-content right-text-pad mobile-pad-right six sub-columns">
                    <img src="http://placehold.it/300x100" width="300" height="100" alt="Secondary Image" />
                    <h2>Sub-header</h2>
                    <p class="text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                  </td>
                  <td class="main-content left-text-pad mobile-pad-left six sub-columns last">
                    <img src="http://placehold.it/300x100" width="300" height="100" alt="Secondary Image" />
                    <h2>Sub-header</h2>
                    <p class="text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- SEPARATOR -->
          <tr><td height="50"></td></tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- EMAIL MAIN CONTENT END -->

<!-- EMAIL FOOTER -->
<table class="row footer">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="main-content center">
                    <center>
                      <span class="text-small">Some Copyright Text</span>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
  <!-- SEPARATOR -->
  <tr><td height="50"></td></tr>
</table>
<!-- END EMAIL FOOTER -->