---
layout: default.hbs
subject: Marketing Newsletter
---
<!-- EMAIL HEADER -->
<table class="row header">
  <tr>
    <td class="center" align="center" style="padding: 10px 0 !important;">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last" style="padding-top: 10px;">
              <table class="twelve columns">
                <tr>
                  <td class="seven sub-columns" style="text-align: left !important;">
                    <a href="http://trackmaven.com"><img alt="Logo" width="200" style="width: 200px !important; vertical-align: middle; margin-right: 5px; margin-top: 1px; display: block;" src="http://placehold.it/600x200/"></a>
                  </td>
                  <td class="five sub-columns" style="text-align: right !important;">
                    <span id="date" class="template-label mobile">DEC. 5TH, 2014</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<!-- EMAIL HEADER END -->