/*==================================
=            Layout CSS            =
==================================*/
body, .body {
  background-color: #FFFFFF !important;
}

.template-label {
  font-size: 13px;
}

.text-small {
  font-size: 10px;
}