<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <!--[if !mso]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />

    <!--[if gte mso 15]>
    <style type="text/css">
      table { font-size:1px; line-height:0; mso-margin-top-alt:1px;mso-line-height-rule: exactly; }
      * { mso-line-height-rule: exactly; }
    </style>
    <![endif]-->

  </head>

  <body>
    <!-- Main Table Wrapper -->
    <table id="backgroundTable" class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            {{ body }}
          </center>
        </td>
      </tr>
    </table>
    <!-- End Main Table Wrapper -->
  </body>
</html>
